{% extends '0_basic.html' %}

{%block myBlock%}
<!-- about me -->
<div class="about_info">
  <div class="about_header">
    <p class="about_about">About me</p>
  </div>
  <div class="about_box">
    <div class="about_main">
      <p class="about_main_head">Was</p>
      <div class="about_main_img"><img/></div>
      <p class="about_main_text">an Architect</p>
      <p class="about_main_text">@ZSA</p>
    </div>
    <div class="about_main">
      <p class="about_main_head">Is</p>
      <div class="about_main_img"><img/></div>
      <p class="about_main_text">a Student in Computing</p>
      <p class="about_main_text">@Cardiff Uni</p>
    </div>
    <div class="about_main">
      <p class="about_main_head">Will be</p>
      <div class="about_main_img"><img/></div>
      <p class="about_main_text">a Software Developer</p>
      <p class="about_main_text">@Earth</p>
    </div>
  </div>
</div>

  <!-- experience&timeline -->
  <div class="ex">
    <p class="ex_ex">Experience</p>
    <ul class="timeline">
      <li>
        <h5>Cardiff Univeristy</h5>
        <time>Spet 2023 - now</time>
        <div class="timeline_text">
          <p class="timeline_textheader">Msc Computing with placement</p>
          <p><a href="https://annlab-v1-6683b2e06c9c.herokuapp.com/projects">UniProject01: </a>Personal website - Full stack development project - <a href="https://vimeo.com/905384678?share=copy">Video demo</a></p>
          <p class="timeline_subtext">Technologies Used: Python, Flask, SQLite, Jinja, AJAX, Flask-WTF, Werkzeug Security, CSS, HTML, Javascript</p>
          <p><a href="https://main--polite-taffy-2f3d79.netlify.app/">UniProject02: </a>Reflection on computational thinking module - static web project</p>
          <p class="timeline_subtext">Technologies Used: HTML, CSS.</p>
        </div>
      </li>
      <li>
        <h5>Shanghai Zhong Sen Architectural and Engineering Design Consultants Co.(ZSA)</h5>
        <time>Jul 2019 - Jun 2023</time>
        <div class="timeline_text">
          <p class="timeline_textheader">Architect</p>
          <p>Developing architectural designs, from initial concepts through to detailed plans.</p>
          <p>Coordinating with clients to establish project requirements and goals.</p>
          <p>Collaborating with engineers, surveyors, and other professionals to determine the feasibility of a project.</p>
          <p>Ensuring that designs comply with legal standards and building regulations.</p>
          <p>Overseeing and managing projects through the construction phase.</p>
        </div>
      </li>
      <li>
        <h5>China Railway Times Architectural Design Institute Limited</h5>
        <time>Jun 2016 - Jan 2018</time>
        <div class="timeline_text">
          <p class="timeline_textheader">Internship</p>
          <p>Using computer-aided design (CAD) software to create 3D models and visualizations.</p>
          <p>Producing detailed drawings and specifications.</p>
        </div>
      </li>
      <li>
        <h5>Dalian University of Technology</h5>
        <time>Sept 2014 - Jun 2019</time>
        <div class="timeline_text">
          <p class="timeline_textheader">Bachelor of Architecture</p>
        </div>
      </li>
      <li>
        <h5>University of California, San Diego</h5>
        <time>Jul 2012 - Aug 2012</time>
        <div class="timeline_text">
          <p class="timeline_textheader">2012 CEAIE-AFS Summer Camp</p>
        </div>
      </li>
    </ul>
  </div>


{%endblock%}